<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Page 1</title>
		<link rel="stylesheet" href="assets/css/bootstrap.css">
		<link rel="stylesheet" href="assets/css/global.css">
		<link rel="stylesheet" href="assets/css/personal_data_sheet_page1.css">
		<link rel="stylesheet" href="assets/css/vendor/tablesorter/themes/blue/style.css">
		<script type="text/javascript" src="assets/js/vendor/jquery-1.11.1.min.js"></script> 
		<script type="text/javascript" src="assets/js/vendor/tablesorter/jquery.tablesorter.min.js"></script> 
	</head>
	<body>
		<nav id="main_navigation" class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">DMMMMSU HRIS</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-left">
						<li><a href="#">PDS</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#">
								<label for="open_settings_tab" class="tab-label"><span class="glyphicon glyphicon-cog"></span></label>
							</a>
						</li>
						<li><a href="#"><span class="glyphicon glyphicon-log-out"></span></a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div id="main_container" class="container">
			<form action="" role="form">
				<h1>Personal Data Sheet <small>Page(1 of 5)</small></h1>
				<h4>I. PERSONAL INFORMATION</h4>
				<label for="">Name</label>
				<div id="personal_information_top_container">
					<ul class="list-unstyled">
						<li><input type="text" class="form-control" placeholder="Surname"></li>
						<li><input type="text" class="form-control" placeholder="First Name"></li>
						<li><input type="text" class="form-control" placeholder="Middle Name"></li>
						<li><input type="text" class="form-control" placeholder="Name extension (e.g. Jr, Sr)"></li>
					</ul>
				</div>
				<div id="bottom_information">
					<div id="personal_information_left_container" class="">
						<ul class="list-unstyled">
							<li>
								<label for="">Date of Birth</label>
								<li><input type="date" class="form-control" placeholder="Start Date"></li>
							</li>
							<li>
								<label for="">Place of Birth</label>
								<input type="text" class="form-control" placeholder="">
							</li>
							<li>
								<label for="">Gender</label>
								<select class="form-control">
								  	<option>Male</option>
								  	<option>Female</option>
								</select>
							</li>
							<li>
								<label for="">Civil Status</label>
								<select class="form-control">
								  	<option>Single</option>
								  	<option>Married</option>
								  	<option>Separated</option>
								  	<option>Annulled</option>
								  	<option>Windowed</option>
								</select>
							</li>
							<li>
								<label for="">Residential Address</label>
								<input type="text" class="form-control" placeholder="Residential Address">
								<input type="text" class="form-control" placeholder="Zip Code">
								<input type="text" class="form-control" placeholder="Telephone No.">
							</li>
								<li>
								<label for="">Permanent Address</label>
								<input type="text" class="form-control" placeholder="Residential Address">
								<input type="text" class="form-control" placeholder="Zip Code">
								<input type="text" class="form-control" placeholder="Telephone No.">
							</li>
							<li>
								<label for="">Citizenship</label>
								<input type="text" class="form-control" placeholder="">
							</li>
							<li>
								<label for="">Height</label>
								<input type="text" class="form-control" placeholder="(cm)">
								<label for="">Weight</label>
								<input type="text" class="form-control" placeholder="(kg)">
							</li>
							<li>
								<label for="">Blood Type</label>
								<input type="text" class="form-control" placeholder="">
							</li>
						</ul>
					</div><!-- end personal_information_left_container -->
					<div id="personal_information_right_container" class="">
						<ul class="list-unstyled">
							<li>
								<label for="">Email</label>
								<input type="email" class="form-control" placeholder="">
							</li>
							<li>
								<label for="">Cellphone No.</label>
								<input type="text" class="form-control" placeholder="">
							</li>
							<li>
								<label for="">GSIS ID No.</label>
								<input type="text" class="form-control" placeholder="">
							</li>
							<li>
								<label for="">PhilHealth No.</label>
								<input type="text" class="form-control" placeholder="">
							</li>
							<li>
								<label for="">SSS No.</label>
								<input type="text" class="form-control" placeholder="">
							</li>
							<li>
								<label for="">PAG-IBIG ID. No.</label>
								<input type="text" class="form-control" placeholder="">
							</li>
							<li>
								<label for="">Agency Employee No.</label>
								<input type="text" class="form-control" placeholder="">
							</li>
							<li>
								<label for="">Tin</label>
								<input type="text" class="form-control" placeholder="">
							</li>
						</ul>
					</div>
				</div>
				<nav>
				  	<ul class="pager">
				   		<li class="previous disabled">
				   			<a href="#.html">
				   				<button type="submit" class="btn btn-default" disabled="disabled"><span aria-hidden="true">&larr;</span> Previous</button>
				   			</a>
				   		</li>
				   		<li class="next">
				   			<a href="personal_data_sheet_page2.html">
				   				<button type="submit" class="btn btn-default">Next <span aria-hidden="true">&rarr;</span></button>
				   			</a>
				   		</li>
				  	</ul>

				</nav>
			</form>
		</div>
	</body>
</html>